<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" allowedVersions="[1.8.9]" targetFramework="net452" />
  <package id="CitizenFX.Core.Server" version="1.0.4410" targetFramework="net452" />
  <package id="EntityFramework" version="6.4.4" allowedVersions="[6.4.4]" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.17.3" allowedVersions="[3.17.3]" targetFramework="net452" />
  <package id="JetBrains.Annotations" version="2021.2.0" targetFramework="net452" />
  <package id="K4os.Compression.LZ4" version="1.2.6" allowedVersions="[1.2.6]" targetFramework="net452" />
  <package id="K4os.Compression.LZ4.Streams" version="1.2.6" allowedVersions="[1.2.6]" targetFramework="net452" />
  <package id="K4os.Hash.xxHash" version="1.0.6" allowedVersions="[1.0.6]" targetFramework="net452" />
  <package id="MySql.Data" version="8.0.21" allowedVersions="[8.0.21]" targetFramework="net452" />
  <package id="MySql.Data.EntityFramework" version="8.0.21" allowedVersions="[8.0.21]" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net452" />
  <package id="NFive.SDK.Core" version="0.1.0.62" targetFramework="net452" />
  <package id="NGettext" version="0.6.6" allowedVersions="[0.6.6]" targetFramework="net452" />
  <package id="SSH.NET" version="2020.0.2" allowedVersions="[2020.0.2]" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.1" allowedVersions="[4.5.1]" targetFramework="net452" />
  <package id="System.Memory" version="4.5.4" allowedVersions="[4.5.4]" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" allowedVersions="[5.0.0]" targetFramework="net452" />
  <package id="Z.EntityFramework.Extensions" version="5.2.3" allowedVersions="[5.2.3]" targetFramework="net452" />
  <package id="Z.EntityFramework.Plus.EF6" version="5.2.3" allowedVersions="[5.2.3]" targetFramework="net452" />
  <package id="Z.Expressions.Eval" version="4.0.46" allowedVersions="[4.0.46]" targetFramework="net452" />
</packages>